.footer {
  background-color: var(--light-gray-color);
  padding: 60px 0 20px 0;
  width: 100%;
  align-self: flex-end;

  .url {
    display: flex;
    justify-content: center;
    gap: 100px;

    h4 {
      margin-bottom: 12px;
      font-size: 18px;
    }
  }

  .copyright {
    text-align: center;
    margin-top: 40px;
    color: var(--gray-color);
  }
}
