.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account {
  display: flex;
  align-items: center;
  gap: 160px;
  padding: 0 20%;

  form {
    flex: 1;

    display: flex;
    flex-direction: column;

    gap: 20px;

    h2 {
      color: var(--blue-color);
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      /* margin-bottom: 20px; */
    }

    input {
      padding: 14px 16px;
      outline: none;
      border: none;
      border-radius: 18px;
      background-color: rgba(5, 121, 164, 0.1);

      &:focus {
        outline: 1px solid var(--blue-color);
      }
    }

    button {
      margin-top: 18px;
      border-radius: 20px;
    }

    .link {
      text-align: right;
      color: var(--primary-color);
      transition: var(--transition-effect);

      &:hover {
        cursor: pointer;
        color: var(--primary-color-hover);
      }
    }
  }

  img {
    flex: 1;
    width: 50%;
    border-radius: 40px;
  }
}
