.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.intro .texts {
  flex: 1;
}

.intro .texts h3 {
  font-size: var(--title-font-size);
}

.intro .texts p {
  padding: 40px 0;
}

.intro .texts a.button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  color: var(--white-color);
  text-decoration: none; /* Bỏ gạch chân của thẻ a */
  transition: var(--transition-effect);
  border-radius: 5px; /* Thêm bo góc */
}

.intro .texts a.button:hover {
  cursor: pointer;
  background-color: var(--primary-color-hover);
}

.intro .image {
  flex: 1;
}

.intro .image img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}